<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng suite">
    <test name="testng test">
        <classes>
            <class name="in.srssprojects.keximbank.BaseClass">
                <methods>
                    <include name="branchSearchClear"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>